.container{
    text-align: center;
    margin-top: 800 px;
}

h1{
    font-size: 45px;
}

#quote {
    font-size: 18px;
    margin: 30px 0;
  }

  #btn {
    padding: 10px 20px;
    font-size: 16px;
  }